@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

body{
    margin: 0 auto;
    background-color: #2C83EC;
    font-family: 'Nunito', sans-serif;
}
h1{
    margin-left: 20px;
}
h2{
     color: #333333;
     font-size: 1.2rem;
     margin-bottom: 25px;
}
i{
    font-size: 2rem;
    color: #fff;
}
label{
    color: rgb(51, 51, 51, .8);
    font-size: 0.9rem;
}
.title{
    display: flex;
    align-items: center;
}
.introduction{
    margin: 30px;
    color: #fff;
    padding: 20px;
}
.introduction p{
    width: 30rem;
    font-size: 0.8rem;
    margin-bottom: 5rem;
}
.container{
    background-color: #D4E9FE;
    padding: 5rem;   
}
.user-container{
    display: flex;
    margin-top: -6.5rem;
}
.input-container, .result-container{
    background-color: #D4E9FE;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
    padding: 40px;
    border-radius: 10px;
    margin-right: 50px;
}
.result-container{
    width: 300px;
    margin-left: 12em;
}
.input-box{
    display: flex;
    align-items: center;
    margin-top: 10px;
}
input, .result{
    padding: 10px;
    border: none;
    border-bottom: #94D8FF 2px solid;
    width: 10em;
    justify-content: space-between;
    margin-right: 10px;
    margin-left: 10px;
    background-color: white;
    color: #333333;
}
::placeholder{
    color: #333333;
    font-family: 'Nunito', sans-serif;
}
.btn{
    padding: 20px;
    border-radius: 50px;
    width: 15em;
    border: none;
    box-shadow: 0 4px 2px -2px rgba(0, 0, 0, 0.4);
    margin-top: 40px;
    margin-right: 10px;
    cursor: pointer;
}
.dates-headings{
    width: 80px;
}
#calculate{
    background-color: #2C83EC;
    color: #fff;
}
#calculate:hover{
    background-color: #2369BD;
    font-weight: bold;
}
#reset{
    background-color: #E63946;
    color: #fff;
}
#reset:hover{
    background-color: #B02D38;
    font-weight: bold;
}
